.label {
    color: $coffee;
    font-size: $p;
    margin-bottom: 10px;
}

.input, .textarea {
    width: 100%;
    height: $form-height;
    line-height: $form-height;
    outline: none;
    margin: 10px 0;
    padding: 5px 10px;
    color: $coffee;
    border: 1px solid $gray-border;
    border-radius: $border-radius;
}
