.header {
    width: $container-width;
    height: $header-height;
    margin: auto;
    color: $white;

    .logo {
        font-size: $title;
        line-height: $header-height;
        font-weight: $font-weight;
    }

    .header-right {
        float: right;
        line-height: $header-height;

        > li {
            float: left;
            margin-left: 20px;

            .iconfont {
                font-size: $h2;
            }
        }
    }
}
