.note.note-detail {
    .label {
        display: inline-block;
        width: 10%;
        text-align: right;
        color: $gray-text;
        font-size: $p;
        line-height: $form-height + 20;
        font-weight: $font-weight;
        margin-right: -5px;
        margin-bottom: 0;
        padding-right: 5px;
        vertical-align: top;
    }

    .input, .textarea {
        border: none;
        outline: none;
        font-weight: $font-weight;
    }

    .title {
        width: 90%;
        height: $form-height + 10;
        font-size: $title;
        line-height: $form-height;
        color: $green;
        text-align: left;
        display: inline-block;
        margin: 5px 0;
        padding: 5px 10px;
    }

    .content {
        width: 90%;
        min-height: $form-height * 10;
        margin: 0 0 0 10%;
        padding-left: 10px;
        color: $coffee;
        font-size: $p;

        a {
            color: $green;
        }
    }

    .tagging {
        width: 90%;
        line-height: $form-height + 20;
        display: inline-block;
    }
}
