// font
$title: 24px;
$h2: 20px;
$p: 18px;
$font-weight: 300;

// color
$white: #FFF;
$black: #000;
$coffee: #66595C;
$green: #40A977;
$red: #F52F2F;
$gray-text: #808080;
$gray-bg: #FAFAFA;
$gray-border: #DDDDDD;

// layout
$header-height: 45px;
$container-width: 1024px;

// components
$card-padding: 20px;
$card-footer-height: 50px;
$form-height: 40px;
$border-radius: 3px;
$avatar-size: 24px;
