.pages-notes-index {
    .card {
        box-sizing: content-box;
        width: 420px;
        height: 220px;
        margin-bottom: 40px;
        color: $gray-text;

        .card-title {
            a {
                color: $green;
            }
        }

        .note-content {
            width: 100%;
            height: $title * 3;
            line-height: $title;
            overflow: hidden;
        }

        .tags {
            margin-top: 20px;
        }

        .user-info {
            float: left;

            .avatar {
                margin: ($card-footer-height - $avatar-size) / 2;
            }

            .username {
                display: inline-block;
                line-height: $card-footer-height;
                vertical-align: top;
            }
        }
    }

    .notes-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}
