<ul>
  <li data-binding-key="L">L(ist)</li>
  <li data-binding-key="S">S(earch)</li>
  <li data-binding-key="N">N(ew)</li>
</ul>

<script>
window.addEventListener('keyup', function (e) {
  console.log(String.fromCharCode(e.which));
});
</script>
